name: CI

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: self-hosted

    env:
      IMAGE_NAME: jagadamma/client
      VERSION: v1

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          cd client
          docker build -t ${IMAGE_NAME}:${VERSION} .

      - name: Tag Image for Docker Hub
        run: |
          docker tag ${IMAGE_NAME}:${VERSION} ${{ secrets.DOCKER_USERNAME }}/${IMAGE_NAME}:${VERSION}

      - name: Push Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/${IMAGE_NAME}:${VERSION}
