name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    env:
      IMAGE_NAME: jagadamma/client
      VERSION: v1

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Install Node 16
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Build Docker Image
        run: |
          cd client
          docker build -t ${IMAGE_NAME}:${VERSION} .

      - name: Tag Docker Image
        run: |
          docker tag ${IMAGE_NAME}:${VERSION} ${{ secrets.DOCKER_USERNAME }}/${IMAGE_NAME}:${VERSION}

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/${IMAGE_NAME}:${VERSION}
